{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="container" style="padding-top: 30px;">
        <div>
            <div class="row">
                {% for post in post %}
                    <div class="col-md-6">
                    <div class="post-container">
                        <a class="img-link" href="{% url 'post_detail' slug=post.slug %}" style="width: 100%;display: block;position: relative;">
                            <img class="post-img" src="{{ post.post_img.url}}">
                            <div class="overlay-img">
                                <div class="check-post d-flex">
                                    <span>Check Post</span>
                                    <span class="material-icons right-icon">
                                        keyboard_arrow_right
                                        </span>
                                </div>
                            </div>
                        </a>
                        <div class="post-body">
                            <div class="d-flex justify-content-between">
                                <p class="post-top-body"
                                    style="color: rgb(255,255,255);font-size: 13px;font-weight: 600;">Post by&nbsp;
                                    :&nbsp;<a class="author" href="#"
                                        style="color: rgb(255,255,255);transition: .25s;font-size: 16px;">Hasan
                                        Muzak</a></p>
                                <p class="post-top-body"
                                    style="font-size: 14px;color: rgb(255,255,255);user-select: none;">{{ post.published}}</p>
                            </div>
                            <a class="post-title-link" href="{% url 'post_detail' slug=post.slug %}">
                                <h1 class="text-left post-title"
                                    style="font-size: 36px;color: rgb(255,255,255);font-weight: lighter;text-decoration: none;">
                                    {{ post.title}}</h1>
                            </a>
                            <hr class="solid-hr">
                            <div class="post-desc-container">
                                {{ post.description | safe }}
                            </div>
                            <hr class="solid-hr">
                           {% for tag in post.tags.all %}
                                <a class="post-category-link" href="{% url 'tagged_post' slug=tag.slug %}" style="color: rgb(255,255,255);font-weight: 400;text-transform: lowercase;padding: 8px;transition: .25s;margin-right: 15px;background-color: #9c55db;font-size: 13px">{{ tag }}</a>
                           {% endfor %}

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}